<template>
  <div class="grey">
    <div class="mainGreyDiv">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "GreyBox",
}
</script>

<style scoped>
  .mainGreyDiv{
    background-color: #F3F3F3;
    box-shadow: 0 0px 3px 2px rgb(0 0 0 / 10%), 0 0px 5px 0 rgb(0 0 0 / 30%);
    border-radius: 5px;
    padding: 20px;
    height: 100%;
    width: 100%;
  }
  .grey{
    margin-top: 140px;
    margin-bottom: 60px;
    margin-right: 80px;
    margin-left: 80px;
    width: 100%;
  }
</style>