<template>
  <div class="head">
    <div class="navbar">
      <div class="d-flex justify-content-start ms-5">
        <img src="../assets/cb-logo.svg" alt="" width="50px" height="auto" class="mt-auto mb-auto me-4 ms-1">
        <h1 class="mt-1 mb-1">CODERS.BAY</h1>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "TopBar"
}
</script>

<style scoped>
  .navbar{
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%), 0 4px 10px 0 rgb(0 0 0 / 30%);
    background-color: #232A34;
  }
  h1{
    color: white;
  }
</style>