<template>
  <div class="objectShow">
    <div class="mainWhiteShow">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "ObjectShow"
}
</script>

<style scoped>
.mainWhiteShow{
  border-style: solid;
  border-width: 1px;
  border-color: #707070;
  background-color: white;
  padding: 30px;
  height: 100%;
}
.objectShow{
  width: 70%;
}
</style>