<template>
  <div class="objectAdd">
    <div class="mainWhiteAdd">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "ObjectAdd"
}
</script>

<style scoped>
  .mainWhiteAdd{
    padding: 30px;
    width: 100%;
    height: 100%;
  }
  .objectAdd{
    width: 30%;
    margin-left: 40px;
    background-color: white;
    overflow-y: scroll;
    border-style: solid;
    border-width: 1px;
    border-color: #707070;
  }
</style>