<template>
  <div class="side">
    <div class="theSideBar">
      <div class="spacerFromTopBar"></div>
      <div class="mainSideBarDiv">
        <p class="fw-bold">Gruppen Verwaltung</p>
        <router-link tag="button" class="btnSideBar border-0" :to="{name:'user'}">
          <img src="../assets/md-person.svg" alt="" width="25px" height="25px" class="mt-auto mb-auto ms-2 me-2">
          <p class="mt-auto mb-auto">TeilnehmerIn</p>
        </router-link>
        <router-link tag="button" class="btnSideBar mt-2 border-0" :to="{name:'gruppen'}">
          <img src="../assets/material-group.svg" alt="" width="25px" height="25px" class="mt-auto mb-auto ms-2 me-2">
          <p class="mt-auto mb-auto">Gruppen</p>
        </router-link>

        <p class="fw-bold mt-5">TrainerIn Verwaltung</p>
        <router-link tag="button" class="btnSideBar border-0" :to="{name:'trainer'}">
          <img src="../assets/awesome-chalkboard-teacher.svg" alt="" width="25px" height="25px" class="mt-auto mb-auto ms-2 me-2">
          <p class="mt-auto mb-auto">TrainerIn</p>
        </router-link>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  name: "SideBar"
}
</script>

<style scoped>
  .theSideBar{
    width: 200px;
    height: 100%;
    background-color: #EBEBEB;
    box-shadow: 0 2px 4px 5px rgb(0 0 0 / 10%), 0 4px 10px 0 rgb(0 0 0 / 30%);
  }
  .mainSideBarDiv{
    margin-top: 3vw;
  }
  .btnSideBar{
    height: 42px;
    background-color: white;
    width: 100%;
    display: flex;
    transition-duration: 0.1s;
  }

  .btnSideBar:hover{
    background-color: #d0d0d0;
  }

</style>