<template>
  <div id="app">
    <HeadBar class="position-absolute w-100"></HeadBar>
    <div class="d-flex vh-100">
      <SideBar></SideBar>
      <div class="w-100">
        <router-view/>
        <!--
        <nav>
          <router-link :to="{name:'home'}">Home</router-link> |
          <router-link :to="{name:'about'}">About</router-link> |
          <router-link :to="{name:'user'}">User</router-link> |
          <router-link :to="{name:'dash'}">Dash</router-link>
        </nav>
        -->

      </div>
    </div>
  </div>
</template>


<script>
// @ is an alias to /src
import HeadBar from '@/components/HeadBar.vue'
import SideBar from '@/components/SideBar.vue'

export default {
  name: 'HomeView',
  components: {
    HeadBar,
    SideBar
  }
}
</script>
<style src="bootstrap/dist/css/bootstrap.css"></style>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}

.spacerFromTopBar{
  height: 80px;
}
</style>
