<template>
  <div class="dash">
    <div class="mainDivDash d-flex justify-content-center align-items-center vh-100">
      <div>
        <div class="w-auto h-auto d-flex">
          <router-link tag="button" class="btnDash border-0" :to="{name:'user'}">
            <img src="../assets/md-person.svg" alt="" width="80px" height="80px" class="">
          </router-link>
          <router-link tag="button" class="btnDash border-0" :to="{name:'gruppen'}">
            <img src="../assets/material-group.svg" alt="" width="80px" height="80px" class="">
          </router-link>
          <router-link tag="button" class="btnDash border-0" :to="{name:'trainer'}">
            <img src="../assets/awesome-chalkboard-teacher.svg" alt="" width="80px" height="80px" class=" ">
          </router-link>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  name: "DashBoard"
}
</script>

<style scoped>
  .mainDivDash{
    width: 100%;
    height: 100%;
  }
  .btnDash{
    width: 140px;
    height: 140px;
    margin-right: 70px;
    margin-left: 70px;
    box-shadow: 0 2px 3px 2px rgb(0 0 0 / 10%), 0 4px 5px 0 rgb(0 0 0 / 30%);
    margin-top: 80px;
    border-radius: 5px;
  }
</style>