<template>
  <div class="gruppen">
    <div class="d-flex justify-content-center vh-100">
      <GreyBox>
        <h1 class="fw-bold">Gruppen</h1>
        <div class="d-flex" style="height: calc(100% - 56px)">

          <ObjectShow>
            <table style="border-collapse: collapse; width: 57%">
              <tr class="headerText">
                <th style="width: 7%">ID</th>
                <th style="width: 25%">Name</th>
                <th style="width: 25%">Raum</th>
              </tr>
            </table>
            <div class="table-content mt-1">
              <table class="w-100" style="border-collapse:separate; border-spacing: 0 4px">
                <tr class="contentCells" v-for="gruppe in gruppen" :key="gruppe.id">
                  <td style="width: 7%">{{ gruppe.id }}</td>
                  <td style="width: 25%">{{ gruppe.name }}</td>
                  <td style="width: 25%">{{ gruppe.raumChooseName }}</td>
                  <td class="btnField" style="width: 45px">
                    <button class="border-0" type="" @click="deleteGruppen(gruppe.id)"><img src="../assets/material-delete.svg" class="mx-1" width="20px" height="auto" alt=""></button>
                    <button class="border-0" type="" @click="openEditWindow(gruppe)"><img src="../assets/awesome-edit.svg" class="mx-1" width="25px" height="auto" alt=""></button>
                    <button class="border-0" type="" @click="openShowWindow(gruppe)"><img src="../assets/magnifying-glass.svg" class="" width="25px" height="auto" alt=""></button>
                    <button class="border-0" type="" @click="openTeilnehmerAddToGruppe(gruppe)"><img src="../assets/md-person-add.svg" class="" width="25px" height="auto" alt=""></button>
                    <button class="border-0" type="" @click="openTrainerAddToGruppe(gruppe)"><img src="../assets/add-awesome-chalkboard-teacher-svg.svg" class="" width="25px" height="auto" alt=""></button>
                    <button class="border-0" type="" @click="openPlan(gruppe)"><img src="../assets/awesome-calendar-alt.svg" class="" width="20px" height="auto" alt=""></button>
                  </td>
                </tr>
              </table>
            </div>
          </ObjectShow>

          <ObjectAdd class="d-flex">
            <p style="font-size: 20px; font-weight: bold">Gruppe erstellen</p>
            <form @submit.prevent="addGruppen" style="padding-bottom: 20px;">
              <select v-model="kategorie" required class="d-block w-100 mb-3" style="height: 30px">
                <option value="" disabled selected>Wähle die Kategorie...</option>
                <option v-for="kategorieChooseIndex in kategorieChooseEnum.length" :key="kategorieChooseIndex" :value="kategorieChooseEnum[kategorieChooseIndex-1]" >{{ kategorieChooseNameEnum[kategorieChooseIndex -1] }}</option>
              </select>
              <input type="" v-model="nummer" required placeholder="Nummer" class="d-block w-100 mb-3"/>
              <select v-model="raumChoose" required class="d-block w-100 mb-3" style="height: 30px">
                <option value="" disabled selected>Wähle den Raum...</option>
                <option v-for="raumChooseIndex in raumChooseEnum.length" :key="raumChooseIndex" :value="raumChooseEnum[raumChooseIndex-1]" >{{ raumChooseNameEnum[raumChooseIndex -1] }}</option>
              </select>
              <input type="date" v-model="startDate" required class="d-block w-100 mb-3"/>
              <select v-model="unterrichtFachMo" required class="d-block w-100 mb-3" style="height: 30px">
                <option value="" disabled selected>Wähle ein Unterrichtsfach für Montag...</option>
                <option v-for="fachChooseIndex in fachChooseEnum.length" :key="fachChooseIndex" :value="fachChooseEnum[fachChooseIndex-1]" >{{ fachChooseNameEnum[fachChooseIndex -1] }}</option>
              </select>
              <select v-model="unterrichtFachDi" required class="d-block w-100 mb-3" style="height: 30px">
                <option value="" disabled selected>Wähle ein Unterrichtsfach für Dienstag...</option>
                <option v-for="fachChooseIndex in fachChooseEnum.length" :key="fachChooseIndex" :value="fachChooseEnum[fachChooseIndex-1]" >{{ fachChooseNameEnum[fachChooseIndex -1] }}</option>
              </select>
              <select v-model="unterrichtFachMi" required class="d-block w-100 mb-3" style="height: 30px">
                <option value="" disabled selected>Wähle ein Unterrichtsfach für Mittwoch...</option>
                <option v-for="fachChooseIndex in fachChooseEnum.length" :key="fachChooseIndex" :value="fachChooseEnum[fachChooseIndex-1]" >{{ fachChooseNameEnum[fachChooseIndex -1] }}</option>
              </select>
              <select v-model="unterrichtFachDo" required class="d-block w-100 mb-3" style="height: 30px">
                <option value="" disabled selected>Wähle ein Unterrichtsfach für Donnerstag...</option>
                <option v-for="fachChooseIndex in fachChooseEnum.length" :key="fachChooseIndex" :value="fachChooseEnum[fachChooseIndex-1]" >{{ fachChooseNameEnum[fachChooseIndex -1] }}</option>
              </select>
              <select v-model="unterrichtFachFr" required class="d-block w-100 mb-3" style="height: 30px">
                <option value="" disabled selected>Wähle ein Unterrichtsfach für Freitag...</option>
                <option v-for="fachChooseIndex in fachChooseEnum.length" :key="fachChooseIndex" :value="fachChooseEnum[fachChooseIndex-1]" >{{ fachChooseNameEnum[fachChooseIndex -1] }}</option>
              </select>

              <button type="submit" class="btnT mt-3">Fertig</button>
            </form>
          </ObjectAdd>
        </div>
      </GreyBox>
    </div>

    <div v-if="modal" style="background-color: rgba(75,75,75,0.58); position: absolute; top: 0; left: 0; height: 100%; width: 100%; display: flex; justify-content: center; align-items: center">
      <div style="background-color: #efefef; width: 300px; border-radius: 5px; padding-top: 20px">
        <h2>{{ rawgruppe.name }}</h2>
        <form @submit.prevent="closeEditWindow" style="padding-bottom: 20px; margin-top: 20px">
          <p class="mb-0 mt-4">Kategorie:</p>
          <select v-model="rawgruppe.kategorie" required style="height: 30px; width: 202.4px">
            <option v-for="kategorieChooseIndex in kategorieChooseEnum.length" :key="kategorieChooseIndex" :value="kategorieChooseEnum[kategorieChooseIndex-1]" >{{ kategorieChooseNameEnum[kategorieChooseIndex -1] }}</option>
          </select>
          <p class="mb-0 mt-4">Nummer:</p>
          <input type="t" v-model="rawgruppe.nummer" required/>
          <p class="mb-0 mt-4">Raum:</p>
          <select v-model="rawgruppe.raumChoose" required style="height: 30px; width: 202.4px">
            <option v-for="raumChooseIndex in raumChooseEnum.length" :key="raumChooseIndex" :value="raumChooseEnum[raumChooseIndex-1]" >{{ raumChooseNameEnum[raumChooseIndex -1] }}</option>
          </select>
          <p class="mb-0 mt-4">Start Datum:</p>
          <input type="date" v-model="rawgruppe.startDate" style="height: 30px; width: 202.4px" required/>

          <p class="mb-0 mt-4">Unterricht:</p>
          <select v-model="rawgruppe.unterrichtFachMo" required style="height: 30px; width: 202.4px">
            <option v-for="fachChooseIndex in fachChooseEnum.length" :key="fachChooseIndex" :value="fachChooseEnum[fachChooseIndex-1]" >{{ fachChooseNameEnum[fachChooseIndex -1] }}</option>
          </select>
          <select v-model="rawgruppe.unterrichtFachDi" required style="height: 30px; width: 202.4px">
            <option v-for="fachChooseIndex in fachChooseEnum.length" :key="fachChooseIndex" :value="fachChooseEnum[fachChooseIndex-1]" >{{ fachChooseNameEnum[fachChooseIndex -1] }}</option>
          </select>
          <select v-model="rawgruppe.unterrichtFachMi" required style="height: 30px; width: 202.4px">
            <option v-for="fachChooseIndex in fachChooseEnum.length" :key="fachChooseIndex" :value="fachChooseEnum[fachChooseIndex-1]" >{{ fachChooseNameEnum[fachChooseIndex -1] }}</option>
          </select>
          <select v-model="rawgruppe.unterrichtFachDo" required style="height: 30px; width: 202.4px">
            <option v-for="fachChooseIndex in fachChooseEnum.length" :key="fachChooseIndex" :value="fachChooseEnum[fachChooseIndex-1]" >{{ fachChooseNameEnum[fachChooseIndex -1] }}</option>
          </select>
          <select v-model="rawgruppe.unterrichtFachFr" required style="height: 30px; width: 202.4px">
            <option v-for="fachChooseIndex in fachChooseEnum.length" :key="fachChooseIndex" :value="fachChooseEnum[fachChooseIndex-1]" >{{ fachChooseNameEnum[fachChooseIndex -1] }}</option>
          </select>

          <button class="d-block m-auto mt-5 btnTmodel" type="submit" style="margin-top: 20px">Fertig</button>
        </form>
      </div>
    </div>

    <div v-if="modal2" style="background-color: rgba(75,75,75,0.58); position: absolute; top: 0; left: 0; height: 100%; width: 100%; display: flex; justify-content: center; align-items: center">
      <div style="background-color: #efefef; width: 300px; border-radius: 5px; padding-top: 20px">
        <h2>{{ rawgruppe.name }}</h2>
        <form @submit.prevent="closeShowWindow" style="padding-bottom: 20px; margin-top: 20px">
          <p class="mb-0 mt-4">Kategorie:</p>
          <select v-model="rawgruppe.kategorie" disabled style="height: 30px; width: 202.4px">
            <option v-for="kategorieChooseIndex in kategorieChooseEnum.length" :key="kategorieChooseIndex" :value="kategorieChooseEnum[kategorieChooseIndex-1]" >{{ kategorieChooseNameEnum[kategorieChooseIndex -1] }}</option>
          </select>
          <p class="mb-0 mt-4">Nummer:</p>
          <input type="t" v-model="rawgruppe.nummer" disabled/>
          <p class="mb-0 mt-4">Raum:</p>
          <select v-model="rawgruppe.raumChoose" disabled style="height: 30px; width: 202.4px">
            <option v-for="raumChooseIndex in raumChooseEnum.length" :key="raumChooseIndex" :value="raumChooseEnum[raumChooseIndex-1]" >{{ raumChooseNameEnum[raumChooseIndex -1] }}</option>
          </select>
          <p class="mb-0 mt-4">Start Datum:</p>
          <input type="date" v-model="rawgruppe.startDate" style="height: 30px; width: 202.4px" disabled/>

          <p class="mb-0 mt-4">Unterricht:</p>
          <select v-model="rawgruppe.unterrichtFachMo" disabled style="height: 30px; width: 202.4px">
            <option v-for="fachChooseIndex in fachChooseEnum.length" :key="fachChooseIndex" :value="fachChooseEnum[fachChooseIndex-1]" >{{ fachChooseNameEnum[fachChooseIndex -1] }}</option>
          </select>
          <select v-model="rawgruppe.unterrichtFachDi" disabled style="height: 30px; width: 202.4px">
            <option v-for="fachChooseIndex in fachChooseEnum.length" :key="fachChooseIndex" :value="fachChooseEnum[fachChooseIndex-1]" >{{ fachChooseNameEnum[fachChooseIndex -1] }}</option>
          </select>
          <select v-model="rawgruppe.unterrichtFachMi" disabled style="height: 30px; width: 202.4px">
            <option v-for="fachChooseIndex in fachChooseEnum.length" :key="fachChooseIndex" :value="fachChooseEnum[fachChooseIndex-1]" >{{ fachChooseNameEnum[fachChooseIndex -1] }}</option>
          </select>
          <select v-model="rawgruppe.unterrichtFachDo" disabled style="height: 30px; width: 202.4px">
            <option v-for="fachChooseIndex in fachChooseEnum.length" :key="fachChooseIndex" :value="fachChooseEnum[fachChooseIndex-1]" >{{ fachChooseNameEnum[fachChooseIndex -1] }}</option>
          </select>
          <select v-model="rawgruppe.unterrichtFachFr" disabled style="height: 30px; width: 202.4px">
            <option v-for="fachChooseIndex in fachChooseEnum.length" :key="fachChooseIndex" :value="fachChooseEnum[fachChooseIndex-1]" >{{ fachChooseNameEnum[fachChooseIndex -1] }}</option>
          </select>

          <button class="d-block m-auto mt-5 btnTmodel" type="submit" style="margin-top: 20px">Fertig</button>
        </form>
      </div>
    </div>



    <div v-if="modal3" style="background-color: rgba(75,75,75,0.58); position: absolute; top: 0; left: 0; height: 100%; width: 100%; display: flex; justify-content: center; align-items: center">
      <div style="background-color: #efefef; width: 500px; border-radius: 5px">
        <form @submit.prevent="addTeilnehmerToGruppe" style="padding-bottom: 20px; margin-top: 20px">
          <h2>{{ rawgruppe.name }}</h2>
          <table class="w-100" style="border-collapse:separate; border-spacing: 0 4px">
            <tr>
              <th style="width: 10%"></th>
              <th style="width: 5%">ID</th>
              <th style="width: 30%">Vorname</th>
              <th style="width: 30%">Nachname</th>
            </tr>
          </table>
          <div class="w-100 scrollingTeilnehmer">
            <table class="w-100" style="border-collapse:separate; border-spacing: 0 4px">
              <tr v-for="teilnehmer in rawteilnehmer" :key="teilnehmer.id">
                <div>
                  <td style="width: 10%">
                    <input type="checkbox" v-model="teilnehmerInGruppe[teilnehmer.id]" class="mx-3 mt-auto mb-auto"/>
                  </td>
                  <td style="width: 5%">{{ teilnehmer.id }}</td>
                  <td style="width: 30%">{{ teilnehmer.vorname }}</td>
                  <td style="width: 30%">{{ teilnehmer.nachname }}</td>
                </div>
              </tr>
            </table>
          </div>

          <button class="d-block m-auto mt-5 btnTmodel" type="submit" style="margin-top: 20px">Fertig</button>
        </form>
      </div>
    </div>


    <div v-if="modal4" style="background-color: rgba(75,75,75,0.58); position: absolute; top: 0; left: 0; height: 100%; width: 100%; display: flex; justify-content: center; align-items: center">
      <div style="background-color: #efefef; width: 500px; border-radius: 5px">
        <form @submit.prevent="addTrainerToGruppe" style="padding-bottom: 20px; margin-top: 20px" class="px-3">
          <h2>{{ rawgruppe.name }}</h2>
          <select v-model="trainerInGruppeRawMo" class="d-block w-100 mb-3" style="height: 30px">
            <option value="" selected>Wähle einen Trainer für Montag aus...</option>
            <option v-for="index in trainerListMo.length" :key="index" :value="trainerListMo[index-1].id">{{trainerListMo[index-1].id}} {{trainerListMo[index-1].vorname}} {{trainerListMo[index-1].nachname}} {{trainerListMo[index-1].fach}}</option>
          </select>
          <select v-model="trainerInGruppeRawDi" class="d-block w-100 mb-3" style="height: 30px">
            <option value="" selected>Wähle einen Trainer für Dienstag aus...</option>
            <option v-for="index in trainerListDi.length" :key="index" :value="trainerListDi[index-1].id">{{trainerListDi[index-1].id}} {{trainerListDi[index-1].vorname}} {{trainerListDi[index-1].nachname}} {{trainerListDi[index-1].fach}}</option>
          </select>
          <select v-model="trainerInGruppeRawMi" class="d-block w-100 mb-3" style="height: 30px">
            <option value="" selected>Wähle einen Trainer für Mittwoch aus...</option>
            <option v-for="index in trainerListMi.length" :key="index" :value="trainerListMi[index-1].id">{{trainerListMi[index-1].id}} {{trainerListMi[index-1].vorname}} {{trainerListMi[index-1].nachname}} {{trainerListMi[index-1].fach}}</option>
          </select>
          <select v-model="trainerInGruppeRawDo" class="d-block w-100 mb-3" style="height: 30px">
            <option value="" selected>Wähle einen Trainer für Donnerstag aus...</option>
            <option v-for="index in trainerListDo.length" :key="index" :value="trainerListDo[index-1].id">{{trainerListDo[index-1].id}} {{trainerListDo[index-1].vorname}} {{trainerListDo[index-1].nachname}} {{trainerListDo[index-1].fach}}</option>
          </select>
          <select v-model="trainerInGruppeRawFr" class="d-block w-100 mb-3" style="height: 30px">
            <option value="" selected>Wähle einen Trainer für Freitag aus...</option>
            <option v-for="index in trainerListFr.length" :key="index" :value="trainerListFr[index-1].id">{{trainerListFr[index-1].id}} {{trainerListFr[index-1].vorname}} {{trainerListFr[index-1].nachname}} {{trainerListFr[index-1].fach}}</option>
          </select>

          <button class="d-block m-auto mt-5 btnTmodel" type="submit" style="margin-top: 20px">Fertig</button>
        </form>
      </div>
    </div>

    <div v-if="modal5" style="background-color: rgba(75,75,75,0.58); position: absolute; top: 0; left: 0; height: 100%; width: 100%; display: flex; justify-content: center; align-items: center">
      <div style="background-color: #efefef; width: 75%; border-radius: 5px">
        <form @submit.prevent="closePlan" style="padding-bottom: 20px; margin-top: 20px">
          <h2>{{ rawgruppe.name }} Stundenplan</h2>
          <p>Start Datum: {{ rawgruppe.startDate }}</p>
          <p>End Datum: {{ rawgruppe.endDate }}</p>


          <div class="w-100 p-3">
            <table class="w-100" style="border-collapse:separate; border-spacing: 0 4px">
              <tr>
                <th style="width: 20%">Montag</th>
                <th style="width: 20%">Dienstag</th>
                <th style="width: 20%">Mittwoch</th>
                <th style="width: 20%">Donnerstag</th>
                <th style="width: 20%">Freitag</th>
              </tr>
              <tr class="background1">
                  <td>{{rawgruppe.unterrichtFachMo}}</td>
                  <td>{{rawgruppe.unterrichtFachDi}}</td>
                  <td>{{rawgruppe.unterrichtFachMi}}</td>
                  <td>{{rawgruppe.unterrichtFachDo}}</td>
                  <td>{{rawgruppe.unterrichtFachFr}}</td>
              </tr>
              <tr class="background2">
                <td>{{trainerInGruppeRawMo.vorname}} {{trainerInGruppeRawMo.nachname}}</td>
                <td>{{trainerInGruppeRawDi.vorname}} {{trainerInGruppeRawDi.nachname}}</td>
                <td>{{trainerInGruppeRawMi.vorname}} {{trainerInGruppeRawMi.nachname}}</td>
                <td>{{trainerInGruppeRawDo.vorname}} {{trainerInGruppeRawDo.nachname}}</td>
                <td>{{trainerInGruppeRawFr.vorname}} {{trainerInGruppeRawFr.nachname}}</td>
              </tr>
            </table>
          </div>

          <button class="d-block m-auto mt-5 btnTmodel" type="submit" style="margin-top: 20px">Fertig</button>
        </form>
      </div>
    </div>

    <div v-if="modalErrorFach" style="background-color: rgba(75,75,75,0.58); position: absolute; top: 0; left: 0; height: 100%; width: 100%; display: flex; justify-content: center; align-items: center">
      <div style="background-color: #efefef; width: 500px; border-radius: 5px; padding-bottom: 20px; padding-top: 20px; margin-top: 20px">
        <h1>Falsche Eingabe</h1>
        <p>Die Falschen Unterrichtsfächer wurden ausgewählt</p>
        <p>Ihre Eingabe muss geändert werden</p>
        <p>Netzwerktechnik  hat 2 Tage Linux und 3 Tage Windows</p>
        <p>Softwareentwickler hat 2 Tage Java, 2 Tage Web und 1 Tag Datenbanken</p>
        <p>FIA hat 1 Tag Java, 1 Tag Web, 1 Tag Datenbanken, 1 Tag Windows und 1 Tag Linux</p>
        <button @click="closeErrorUnterricht()" class="d-block m-auto mt-5 btnTmodel" type="submit" style="margin-top: 20px">Fertig</button>
      </div>
    </div>

  </div>
</template>

<style scoped>
button{
  background-color: rgba(0, 0, 0, 0);
}
.btnT{
  width:100px;
  margin: 3px 25px;
  border-width: 1px;
  border-radius: 5px;
}
.btnTmodel{
  width:100px;
  margin: 3px 3px;
  border-radius: 5px;
  background-color: white;
}
.btnField{
  width:220px;
}
.headerText{
  font-size: 20px;
}
.table-content{
  overflow-y: scroll;
  height: 95%;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #707070;
  border-right-width: 1px;
}
.scrollingTeilnehmer{
  overflow-y: scroll;
  max-height: 500px;
}
.contentCells{
  background-color: #f5f5f5;
}
.background1{
  background-color: white;
}
.background2{
  background-color: white;
}

</style>

<script>
import GreyBox from "@/components/GreyBox";
import ObjectAdd from "@/components/ObjectAdd";
import ObjectShow from "@/components/ObjectShow";

export default {
  components: {
    GreyBox,
    ObjectAdd,
    ObjectShow
  },
  data: () => ({
    id: '',
    kategorie: '',
    unterrichtFachMo: '',
    unterrichtFachDi: '',
    unterrichtFachMi: '',
    unterrichtFachDo: '',
    unterrichtFachFr: '',
    raumChoose: '',
    nummer: '',
    name: '',
    raumChooseName:"",
    startDate: '',
    teilnehmerSet: [],
    modal: false,
    modal2: false,
    modal3: false,
    modal4: false,
    modal5: false,
    modalErrorFach: false,
    rawgruppe: {},
    vorname:'',
    nachname:'',
    groupId:'',
    teilnehmerInGruppe:[],
    trainerInGruppe:[],
    trainerInGruppeRawMo:'',
    trainerInGruppeRawDi:'',
    trainerInGruppeRawMi:'',
    trainerInGruppeRawDo:'',
    trainerInGruppeRawFr:'',
    trainerMo:'',
    trainerDi:'',
    trainerMi:'',
    trainerDo:'',
    trainerFr:'',
    rawteilnehmer:[],
    endDate:''

  }),
  name: "GruppenView",
  mounted() {
    this.$store.dispatch('getGruppen')
    this.$store.dispatch('getTeilnehmer')
    this.$store.dispatch('getTrainer')
  },
  computed: {
    trainer() {
      return this.$store.state.trainer
    },
    teilnehmer() {
      return this.$store.state.teilnehmer
    },
    gruppen() {
      return this.$store.state.gruppen
    },
    raumChooseEnum() {
      return this.$store.state.raumChoose
    },
    raumChooseNameEnum(){
      return this.$store.state.raumChooseName
    },
    kategorieChooseEnum(){
      return this.$store.state.kategorieChoose
    },
    kategorieChooseNameEnum(){
      return this.$store.state.kategorieChooseName
    },
    fachChooseEnum(){
      return this.$store.state.fachChoose
    },
    fachChooseNameEnum(){
      return this.$store.state.fachChooseName
    },
    unterrichtBoolean(){
      return this.$store.state.unterrichtBoolean
    },
    trainerListMo(){
      return this.$store.state.trainerListMo
    },
    trainerListDi(){
      return this.$store.state.trainerListDi
    },
    trainerListMi(){
      return this.$store.state.trainerListMi
    },
    trainerListDo(){
      return this.$store.state.trainerListDo
    },
    trainerListFr(){
      return this.$store.state.trainerListFr
    },
  },
  methods: {
    async addGruppen() {
      let gruppen = {
        kategorie: this.kategorie,
        unterrichtFachMo: this.unterrichtFachMo,
        unterrichtFachDi: this.unterrichtFachDi,
        unterrichtFachMi: this.unterrichtFachMi,
        unterrichtFachDo: this.unterrichtFachDo,
        unterrichtFachFr: this.unterrichtFachFr,
        raumChoose: this.raumChoose,
        nummer: this.nummer,
        name: this.name,
        startDate: this.startDate,
        teilnehmerSet: this.teilnehmerSet,
        trainerSet: this.trainer,
      }

      await this.$store.dispatch('addGruppen', gruppen)
      if (!this.unterrichtBoolean) {
        this.modalErrorFach = !this.modalErrorFach
      }
      else {
        this.kategorie=""
        this.unterrichtFachMo=""
        this.unterrichtFachDi=""
        this.unterrichtFachMi=""
        this.unterrichtFachDo=""
        this.unterrichtFachFr=""
        this.raumChoose=""
        this.nummer=""
        this.name=""
        this.startDate=""

        this.$store.dispatch('getGruppen')
      }
    },
    closeErrorUnterricht(){
      this.modalErrorFach = !this.modalErrorFach
    },
    async deleteGruppen(id) {
      await this.$store.dispatch('deleteGruppen', id)
      this.$store.dispatch('getGruppen')
    },
    async openTrainerAddToGruppe(raw) {
      this.rawgruppe = raw;
      await this.$store.dispatch('getTrainerListForDays', raw.id)
      this.trainerInGruppeRawMo = ''
      this.trainerInGruppeRawDi = ''
      this.trainerInGruppeRawMi = ''
      this.trainerInGruppeRawDo = ''
      this.trainerInGruppeRawFr = ''

      if (raw.trainerMo != null) {
        this.trainerInGruppeRawMo = raw.trainerMo.id
      }
      if (raw.trainerDi != null) {
        this.trainerInGruppeRawDi = raw.trainerDi.id
      }
      if (raw.trainerMi != null) {
        this.trainerInGruppeRawMi = raw.trainerMi.id
      }
      if (raw.trainerDo != null) {
        this.trainerInGruppeRawDo = raw.trainerDo.id
      }
      if (raw.trainerFr != null) {
        this.trainerInGruppeRawFr = raw.trainerFr.id
      }

      this.modal4 = !this.modal4;
    },
    async addTrainerToGruppe(){
      this.modal4 = !this.modal4;
      let trainerGruppeAddenRemove = {
        gruppenId : this.rawgruppe.id,
        trainerAddId : [],
      }
      trainerGruppeAddenRemove.trainerAddId[0] = this.trainerInGruppeRawMo
      trainerGruppeAddenRemove.trainerAddId[1] = this.trainerInGruppeRawDi
      trainerGruppeAddenRemove.trainerAddId[2] = this.trainerInGruppeRawMi
      trainerGruppeAddenRemove.trainerAddId[3] = this.trainerInGruppeRawDo
      trainerGruppeAddenRemove.trainerAddId[4] = this.trainerInGruppeRawFr
      for (let index in trainerGruppeAddenRemove.trainerAddId) {
        if (trainerGruppeAddenRemove.trainerAddId[index] == '') {
          trainerGruppeAddenRemove.trainerAddId[index] = 0
        }
      }

      this.trainerInGruppeRawMo = ""
      this.trainerInGruppeRawDi = ""
      this.trainerInGruppeRawMi = ""
      this.trainerInGruppeRawDo = ""
      this.trainerInGruppeRawFr = ""

      await this.$store.dispatch('addTrainerToGruppe', trainerGruppeAddenRemove)
      this.$store.dispatch('getGruppen')
      this.$store.dispatch('getTeilnehmer')
      this.trainerInGruppe=[]

    },
    openTeilnehmerAddToGruppe(raw){
      this.rawgruppe = raw;
      for (let index in this.teilnehmer) {
        if (this.teilnehmer[index].groupId == raw.id) {
          this.rawteilnehmer.push(this.teilnehmer[index])
        }
      }
      for (let index in this.teilnehmer) {
        if (this.teilnehmer[index].groupId == 0) {
          this.rawteilnehmer.push(this.teilnehmer[index])
        }
      }

      for (let index in this.teilnehmer) {
        if (this.teilnehmer[index].groupId == 0 ) {
          this.teilnehmerInGruppe[this.teilnehmer[index].id] = false;
        }
        else if (raw.id == this.teilnehmer[index].groupId){
          this.teilnehmerInGruppe[this.teilnehmer[index].id] = true;
        }
      }

      this.modal3 = !this.modal3;
    },
    async addTeilnehmerToGruppe() {
      this.modal3 = !this.modal3;
      this.rawteilnehmer = []

      let teilnehmerGruppeAddenRemove = {
        gruppenId : this.rawgruppe.id,
        teilnehmerAddId : [],
        teilnehmerRemoveId : []

      }
      teilnehmerGruppeAddenRemove.gruppenId = this.rawgruppe.id
      for(let teilnehmerId in this.teilnehmerInGruppe){
        if(this.teilnehmerInGruppe[teilnehmerId]){
          teilnehmerGruppeAddenRemove.teilnehmerAddId.push(parseInt(teilnehmerId))
        }
        else if(!this.teilnehmerInGruppe[teilnehmerId]){
          teilnehmerGruppeAddenRemove.teilnehmerRemoveId.push(parseInt(teilnehmerId))
        }
      }
      await this.$store.dispatch('addTeilnehmToGruppe', teilnehmerGruppeAddenRemove)
      this.$store.dispatch('getGruppen')
      this.$store.dispatch('getTeilnehmer')
      this.teilnehmerInGruppe=[]
    },
    async openEditWindow(raw) {
      this.rawgruppe = raw;
      await this.$store.dispatch('getRaumList', raw)
      this.modal = !this.modal;
    },
    async openShowWindow(raw) {
      this.rawgruppe = raw;
      await this.$store.dispatch('getRaumList', raw)
      this.modal2 = !this.modal2;
    },
    async closeEditWindow(){
      this.modal = !this.modal;
      let gruppen = {
        id: this.rawgruppe.id,
        kategorie: this.rawgruppe.kategorie,
        unterrichtFachMo: this.rawgruppe.unterrichtFachMo,
        unterrichtFachDi: this.rawgruppe.unterrichtFachDi,
        unterrichtFachMi: this.rawgruppe.unterrichtFachMi,
        unterrichtFachDo: this.rawgruppe.unterrichtFachDo,
        unterrichtFachFr: this.rawgruppe.unterrichtFachFr,
        raumChoose: this.rawgruppe.raumChoose,
        nummer: this.rawgruppe.nummer,
        name: this.rawgruppe.name,
        startDate: this.rawgruppe.startDate,
        teilnehmerSet: this.rawgruppe.teilnehmerSet,
        trainerSet: this.rawgruppe.trainer,
      }
      await this.$store.dispatch('updateGruppen', gruppen)
      this.$store.dispatch('getGruppen')
    },
    async closeShowWindow() {
      await this.$store.dispatch('getGruppen')
      this.modal2 = !this.modal2;
    },
    openPlan(raw) {
      this.trainerInGruppeRawMo = ''
      this.trainerInGruppeRawDi = ''
      this.trainerInGruppeRawMi = ''
      this.trainerInGruppeRawDo = ''
      this.trainerInGruppeRawFr = ''

      this.rawgruppe = raw;
      if (raw.trainerMo != null) {
        this.trainerInGruppeRawMo = raw.trainerMo
      }
      if (raw.trainerDi != null) {
        this.trainerInGruppeRawDi = raw.trainerDi
      }
      if (raw.trainerMi != null) {
        this.trainerInGruppeRawMi = raw.trainerMi
      }
      if (raw.trainerDo != null) {
        this.trainerInGruppeRawDo = raw.trainerDo
      }
      if (raw.trainerFr != null) {
        this.trainerInGruppeRawFr = raw.trainerFr
      }
      this.modal5 = !this.modal5;
    },
    closePlan() {
      this.modal5 = !this.modal5;
    },


  }
}
</script>

