<template>
  <div class="trainer">
    <div class="d-flex justify-content-center vh-100">
      <GreyBox>
        <h1 class="fw-bold">TrainerIn</h1>
        <div class="d-flex" style="height: calc(100% - 56px)">

          <ObjectShow>
            <table style="border-collapse: collapse; width: 57%">
              <tr class="headerText">
                <th style="width: 7%">ID</th>
                <th style="width: 25%">Vorname</th>
                <th style="width: 25%">Nachname</th>
              </tr>
            </table>
            <div class="table-content mt-1">
              <table class="w-100" style="border-collapse:separate; border-spacing: 0 4px">
                <tr class="contentCells" v-for="train in trainer" :key="train.id">
                  <td style="width: 7%">{{ train.id }}</td>
                  <td style="width: 25%">{{ train.vorname }}</td>
                  <td style="width: 25%">{{ train.nachname }}</td>
                  <td class="btnField" style="width: 45px">
                    <button class="border-0" type="" @click="deleteTrainer(train.id)"><img src="../assets/material-delete.svg" class="mx-1" width="20px" height="auto" alt=""></button>
                    <button class="border-0" type="" @click="openEditWindow(train)"><img src="../assets/awesome-edit.svg" class="mx-1" width="25px" height="auto" alt=""></button>
                    <button class="border-0" type="" @click="openShowWindow(train)"><img src="../assets/magnifying-glass.svg" class="" width="25px" height="auto" alt=""></button>
                  </td>
                </tr>
              </table>
            </div>
          </ObjectShow>

          <ObjectAdd class="d-flex">
            <p style="font-size: 20px; font-weight: bold">TrainerIn erstellen</p>
            <form @submit.prevent="addTrainer" style="padding-bottom: 20px">
              <input type="firstName" v-model="vorname" placeholder="Vorname" required class="d-block w-100 mb-3"/>
              <input type="lastName" v-model="nachname" placeholder="Nachname" required class="d-block w-100 mb-3"/>
              <input type="lastName" v-model="wohnort" placeholder="Wohnort" required class="d-block w-100 mb-3"/>
              <input type="lastName" v-model="bruttogehalt" placeholder="Bruttogehalt" required class="d-block w-100 mb-3"/>
              <select v-model="fach" required class="w-100" style="height: 30px">
                <option value="" disabled selected>Wähle das Unterrichtsfach...</option>
                <option v-for="index in fachChooseEnum.length" :key="index" :value="fachChooseEnum[index-1]" >{{ fachChooseNameEnum[index -1] }}</option>
              </select>
              <div class="d-flex mt-3 justify-content-around">
                <p>Mo</p>
                <p>Di</p>
                <p>Mi</p>
                <p>Do</p>
                <p>Fr</p>
              </div>
              <div class="d-flex justify-content-around">
                <input v-for="index in 5" :key="index" type="checkbox" v-model="arbeitstage[index]" placeholder="" class="d-block w-100 mb-3"/>
              </div>
              <button type="submit" class="btnT">Fertig</button>
            </form>
          </ObjectAdd>
        </div>
      </GreyBox>
    </div>

    <div v-if="modal" style="background-color: rgba(75,75,75,0.58); position: absolute; top: 0; left: 0; height: 100%; width: 100%; display: flex; justify-content: center; align-items: center">
      <div style="background-color: #efefef; width: 300px; border-radius: 5px">
        <form @submit.prevent="closeEditWindow" style="padding-bottom: 20px; margin-top: 20px">
          <p class="mb-0 mt-5">Vorname:</p>
          <input type="t" v-model="rawtrainer.vorname" required/>
          <p class="mb-0 mt-4">Nachname:</p>
          <input type="t" v-model="rawtrainer.nachname" required/>
          <p class="mb-0 mt-4">Wohnort:</p>
          <input type="t" v-model="rawtrainer.wohnort" required/>
          <p class="mb-0 mt-4">Bruttogehalt:</p>
          <input type="t" v-model="rawtrainer.bruttogehalt" required/>

          <p class="mb-0 mt-4">Unterrichtsfach:</p>
          <select v-model="rawtrainer.fach" required style="height: 30px; width: 202.4px">
            <option v-for="fachChooseIndex in fachChooseEnum.length" :key="fachChooseIndex" :value="fachChooseEnum[fachChooseIndex-1]" >{{ fachChooseNameEnum[fachChooseIndex -1] }}</option>
          </select>
          <div class="d-flex mt-3 justify-content-around">
            <p>Mo</p>
            <p>Di</p>
            <p>Mi</p>
            <p>Do</p>
            <p>Fr</p>
          </div>
          <div class="d-flex justify-content-around">
            <input v-for="index in 5" :key="index" type="checkbox" v-model="rawtrainer.arbeitstage[index]" placeholder="" class="d-block w-100 mb-3"/>
          </div>

          <button class="d-block m-auto mt-5 btnTmodel" type="submit" style="margin-top: 20px">Fertig</button>
        </form>
      </div>
    </div>

    <div v-if="modal2" style="background-color: rgba(75,75,75,0.58); position: absolute; top: 0; left: 0; height: 100%; width: 100%; display: flex; justify-content: center; align-items: center">
      <div style="background-color: #efefef; width: 300px; border-radius: 5px">
        <form @submit.prevent="openShowWindow" style="padding-bottom: 20px; margin-top: 20px">
          <p class="mb-0 mt-5">Vorname:</p>
          <input type="t" v-model="rawtrainer.vorname" disabled/>
          <p class="mb-0 mt-4">Nachname:</p>
          <input type="t" v-model="rawtrainer.nachname" disabled/>
          <p class="mb-0 mt-4">Wohnort:</p>
          <input type="t" v-model="rawtrainer.wohnort" disabled/>
          <p class="mb-0 mt-4">Nettogehalt:</p>
          <input type="t" v-model="rawtrainer.nettogehalt" disabled/>

          <p class="mb-0 mt-4">Unterrichtsfach:</p>
          <select v-model="rawtrainer.fach" required style="height: 30px; width: 202.4px" disabled>
            <option v-for="fachChooseIndex in fachChooseEnum.length" :key="fachChooseIndex" :value="fachChooseEnum[fachChooseIndex-1]" >{{ fachChooseNameEnum[fachChooseIndex -1] }}</option>
          </select>
          <div class="d-flex mt-3 justify-content-around">
            <p>Mo</p>
            <p>Di</p>
            <p>Mi</p>
            <p>Do</p>
            <p>Fr</p>
          </div>
          <div class="d-flex justify-content-around">
            <input v-for="index in 5" :key="index" type="checkbox" v-model="rawtrainer.arbeitstage[index]" disabled placeholder="" class="d-block w-100 mb-3"/>
          </div>

          <button class="d-block m-auto mt-5 btnTmodel" type="submit" style="margin-top: 20px">Fertig</button>
        </form>
      </div>
    </div>

  </div>
</template>

<style scoped>
button{
  background-color: rgba(0, 0, 0, 0);
}
.btnT{
  width:100px;
  margin: 3px 25px;
  border-width: 1px;
  border-radius: 5px;
}
.btnTmodel{
  width:100px;
  margin: 3px 3px;
  border-radius: 5px;
  background-color: white;
}
.btnField{
  width:220px;
}
.headerText{
  font-size: 20px;
}
.table-content{
  overflow-y: scroll;
  height: 95%;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #707070;
  border-right-width: 1px;
}
.contentCells{
  background-color: #f5f5f5;
}

</style>

<script>
import GreyBox from "@/components/GreyBox";
import ObjectAdd from "@/components/ObjectAdd";
import ObjectShow from "@/components/ObjectShow";

export default {
  components: {
    GreyBox,
    ObjectAdd,
    ObjectShow
  },
  data: () => ({
    id: '',
    vorname: '',
    nachname: '',
    wohnort: '',
    bruttogehalt: '',
    fach: '',
    arbeitstage: [],
    modal: false,
    modal2: false,
    rawtrainer: '',
    nettogehalt:''
  }),
  name: "TrainerView",
  mounted() {
    this.$store.dispatch('getTrainer')
  },
  computed: {
    trainer() {
      return this.$store.state.trainer
    },
    fachChooseEnum(){
      return this.$store.state.fachChoose
    },
    fachChooseNameEnum(){
      return this.$store.state.fachChooseName
    }
  },
  methods: {
    async addTrainer() {
      let trainer = {
        vorname: this.vorname,
        nachname: this.nachname,
        wohnort: this.wohnort,
        bruttogehalt: this.bruttogehalt,
        fach: this.fach,
        arbeitstage: this.arbeitstage
      }
      this.vorname=""
      this.nachname=""
      this.wohnort=""
      this.bruttogehalt=""
      this.fach=""
      this.arbeitstage=[]
      await this.$store.dispatch('addTrainer', trainer)
      this.$store.dispatch('getTrainer')

    },
    async deleteTrainer(id) {
      await this.$store.dispatch('deleteTrainer', id)
      this.$store.dispatch('getTrainer')
    },
    openEditWindow(raw){
      this.rawtrainer = raw;
      this.modal = !this.modal;
    },
    openShowWindow(raw){
      this.rawtrainer = raw;
      this.modal2 = !this.modal2;
    },
    async closeEditWindow(){
      this.modal = !this.modal;
      let trainer = {
        id: this.rawtrainer.id,
        vorname: this.rawtrainer.vorname,
        nachname: this.rawtrainer.nachname,
        wohnort: this.rawtrainer.wohnort,
        bruttogehalt: this.rawtrainer.bruttogehalt,
        fach: this.rawtrainer.fach,
        arbeitstage: this.rawtrainer.arbeitstage
      }
      await this.$store.dispatch('updateTrainer', trainer)
      this.$store.dispatch('getTrainer')
    }
  }
}
</script>

