<template>
  <div class="user">
    <div class="d-flex justify-content-center vh-100">
        <GreyBox>
          <h1 class="fw-bold">TeilnehmerIn</h1>
          <div class="d-flex" style="height: calc(100% - 56px)">

            <ObjectShow>
              <table style="border-collapse: collapse; width: 57%">
                <tr class="headerText">
                  <th style="width: 7%">ID</th>
                  <th style="width: 25%">Vorname</th>
                  <th style="width: 25%">Nachname</th>
                </tr>
              </table>
              <div class="table-content mt-1">
                <table class="w-100" style="border-collapse:separate; border-spacing: 0 4px">
                  <tr class="contentCells" v-for="teilnehm in teilnehmer" :key="teilnehm.id">
                    <td style="width: 7%">{{ teilnehm.id }}</td>
                    <td style="width: 25%">{{ teilnehm.vorname }}</td>
                    <td style="width: 25%">{{ teilnehm.nachname }}</td>
                    <td class="btnField" style="width: 45px">
                      <button class="border-0 bg-opacity-100" type="" @click="deleteTeilnehmer(teilnehm.id)"><img src="../assets/material-delete.svg" class="mx-1" width="20px" height="auto"></button>
                      <button class="border-0" type="" @click="openEditWindow(teilnehm)"><img src="../assets/awesome-edit.svg" class="mx-1" width="25px" height="auto" alt=""></button>
                    </td>
                  </tr>
                </table>
              </div>
            </ObjectShow>

            <ObjectAdd class="d-flex">
              <p style="font-size: 20px; font-weight: bold">TeilnehmerIn erstellen</p>
              <form @submit.prevent="addTeilnehmer" style="padding-bottom: 20px">
                <input type="firstName" v-model="vorname" placeholder="Vorname" required class="d-block w-100 mb-3"/>
                <input type="lastName" v-model="nachname" placeholder="Nachname" required class="d-block w-100 mb-3"/>
                <button type="submit" class="btnT">Fertig</button>
              </form>
            </ObjectAdd>
          </div>
        </GreyBox>
    </div>

    <div v-if="modal" style="background-color: rgba(75,75,75,0.58); position: absolute; top: 0; left: 0; height: 100%; width: 100%; display: flex; justify-content: center; align-items: center">
      <div style="background-color: #efefef; width: 300px; border-radius: 5px">
        <form @submit.prevent="closeEditWindow" style="padding-bottom: 20px; margin-top: 20px">
          <p class="mb-0 mt-5">Vorname:</p>
          <input type="t" v-model="rawteilnehmer.vorname" required/>
          <p class="mb-0 mt-4">Nachname:</p>
          <input type="t" v-model="rawteilnehmer.nachname" required/>
          <button class="d-block m-auto mt-5 btnTmodel" type="submit" style="margin-top: 20px">Fertig</button>
        </form>
      </div>
    </div>

  </div>
</template>

<style scoped>
  button{
    background-color: rgba(0, 0, 0, 0);
  }
  .btnT{
    width:100px;
    margin: 3px 25px;
    border-width: 1px;
    border-radius: 5px;
  }
  .btnTmodel{
    width:100px;
    margin: 3px 3px;
    border-radius: 5px;
    background-color: white;
  }
  .btnField{
    width:220px;
  }
  .headerText{
    font-size: 20px;
  }
  .table-content{
    overflow-y: scroll;
    height: 95%;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #707070;
    border-right-width: 1px;
  }
  .contentCells{
    background-color: #f5f5f5;
  }

</style>

<script>
import GreyBox from "@/components/GreyBox";
import ObjectAdd from "@/components/ObjectAdd";
import ObjectShow from "@/components/ObjectShow";

export default {
  components: {
    GreyBox,
    ObjectAdd,
    ObjectShow
  },
  data: () => ({
    id: '',
    vorname: '',
    nachname: '',
    modal: false,
    rawteilnehmer: ''
  }),
  name: "UsersView",
  mounted() {
    this.$store.dispatch('getTeilnehmer')
  },
  computed: {
    teilnehmer() {
      return this.$store.state.teilnehmer
    }
  },
  methods: {
    async addTeilnehmer() {
      let teilnehmer = {
        vorname: this.vorname,
        nachname: this.nachname,
      }
      this.vorname=""
      this.nachname=""
      await this.$store.dispatch('addTeilnehmer', teilnehmer)
      this.$store.dispatch('getTeilnehmer')
    },
    async deleteTeilnehmer(id) {
      await this.$store.dispatch('deleteTeilnehmer', id)
      this.$store.dispatch('getTeilnehmer')
    },
    openEditWindow(raw){
      this.rawteilnehmer = raw;
      this.modal = !this.modal;
    },
    async closeEditWindow(){
      this.modal = !this.modal;
      let teilnehmer = {
        id: this.rawteilnehmer.id,
        vorname: this.rawteilnehmer.vorname,
        nachname: this.rawteilnehmer.nachname,
      }
      await this.$store.dispatch('updateTeilnehmer', teilnehmer)
      this.$store.dispatch('getTeilnehmer')
    }
  }
}
</script>

